* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	font-family: 'Montserrat', sans-serif;
	background-color: #14213d;
	flex-direction: column;
	color: #e5e5e5;
}
